.content-about-me{
    color: white;
    margin-left: 250px;
    margin-right: auto;
    width: 35%;
    height: 400px;
    justify-content: right;
  }
  
  .content-about-me h1{
    font-family: 'Bungee Hairline';
    font-weight: bold;
    font-variant: small-caps;
    font-size: 2rem;
    
  }
  
  .content-about-me h2 {
    font-weight: bold;
    font-variant: small-caps;
    font-size: 1.2rem;
  }

  @media (max-width: 1080px){
    .content-about-me{
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        height: 360px;
        width: 720px;
      }
      .content-about-me>*{
        text-align: justify;
      }
}
@media only screen and (min-height:1920px) and (max-width:1080px){
  .content-about-me{
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 720px;
    width: 920px;
  }
  .content-about-me>*{
    text-align: justify;
  }
  .content-about-me h1{
    font-size: 4rem;
  }
  
  .content-about-me h2 {
    font-size: 2.4rem;
  }
}