@import url('https://fonts.googleapis.com/css?family=Lexend+Mega&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

html{
  height: 100vh;
  width: 100%;
}

#light html{
  background-color: white;
}
#dark html{
  background-color: rgba(32,13,27,1);
}
body {
  margin: 0px;
  padding: 0px;
  display: flex;
  position: absolute;
  width: 100%;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

#light body{
  background: linear-gradient(rgba(255,255,255,1) 0%, rgba(255, 255, 255, 1) 10%, rgb(129, 123, 91) 100%);
}
#dark body{
  background: linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,1) 33%, rgba(32,13,27,1) 100%);
}

.Footer{
  width: 100%;
  height: 20px;
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: 'Lucida Console';
  font-weight: bold;
  font-size: large;
  bottom: 0px;
  cursor: pointer;
}
#light .Footer{
  color: white;
}
#dark .Footer{
  color: white;
}
.content{
  display: flex;
  margin-top: 160px;
  height: 540px;
}

.content p{
  display: flex;
  font-size:large;
}
#light .content p{
  color: rgb(53, 48, 37);
}
#dark .content p{
  color: white;
}
.content-2{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-top: 60px;
}
.content-2 a{
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
}
.FaGithub, .FaLinkedin, .SiMaildotru{
  width: inherit;
  height: inherit;
}

#light .FaGithub, #light .FaLinkedin, #light .SiMaildotru {
  color: rgba(155, 92, 72, 1);
}
#dark .FaGithub, #dark .FaLinkedin, #dark .SiMaildotru{
  color: white;
}

@media only screen and (max-width:1080px){

  .content{
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 100%;
    height: 680px;
  }
  .content-2{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 100%;
  }
  .content-2 a{
    width: 100px;
    height: 100px;
  }

  .FaGithub, .FaLinkedin, .SiMaildotru{
    width: inherit;
    height: inherit;
  }
}

@media only screen and (min-height:1920px){
  .content{
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 100%;
    height: 1080px;
  }
  .content-2{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    width: 100%;
    height: 600px;
  }
  .content-2 a{
    width: 100%;
    height: 100px;
  }
  .Footer{
    height: 60px;
    font-size: x-large;
  }
}