@import url('https://fonts.googleapis.com/css?family=Lexend+Mega&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

html{
  height: 100%;
}
body {
  margin: 0;
  background: linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,1) 33%, rgba(32,13,27,1) 100%);
  display: flex;
  flex-direction: column;
  min-height: 100% !important;
}

footer{
  width: 100%;
  height: auto;
  position:relative;
  display: flex;
  color: white;
  text-align: center;
  justify-content: center;
  font-family: 'Lucida Console';
  font-weight: bold;
  font-size: large;
  margin-top: 185px;
  bottom: 0;
  cursor: pointer;

}

.footer-gt{
  font-family: 'Righteous';
  font-weight: 100;
  transform: scale(1.1, 1.2);
  margin-bottom: 4px;
  margin-right: 5px;
}
.content{
  display: flex;
  margin-top: 160px;
  height: auto;
}

.content p{
  display: flex;
  color: white;
  font-size:large;
}
.content-2{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-top: 80px;
}
.content-2 a{
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
}
.FaGithub, .FaLinkedin, .SiMaildotru{
  color: white;
  width: inherit;
  height: inherit;
}
@media only screen and (max-width:1110px){
  .content{
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .content-2{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: auto;
    margin-top: 20px;
  }
  .content-2 a{
    margin-bottom: 80px;
    width: 100px;
    height: 100px;
  }

  .FaGithub, .FaLinkedin, .SiMaildotru{
    width: inherit;
    height: inherit;
  }
}

@media (max-width: 1080px){
  .content{
    margin-top:200px;
  }
  .content-2{
    margin-top: 80px;
  }
  .content-2 a{
    width: 120px;
    height: 120px;
  }
}
  