@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/menu.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/terminal.css');

.NavBar {
    background: #000;
    width: 100%;
    height: 10%;
    position: fixed;
    display: flex;
}

.NavBar .Navigation{
    display: flex;
}

.NavBar .Navigation > .Navigation-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 80px;
    text-decoration: none;
    height: 100%;
    margin-left: 100%;
}
.NavBar .Navigation .NavLinks{
    width: 30%;
    position: absolute;
    right: 0;
    margin-right: 50px;
    height: 80px;
}

.NavBar .Navigation .NavLinks ul{
    height: inherit;
    display: flex;
    width: 100%;
}
.NavBar .Navigation .NavLinks ul li{
    height: inherit;
    width: 100%;
}

.NavBar .Navigation .NavLinks ul li a{
    display: flex;
    background-color: #000;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    text-decoration: none;
    height: 100%;
    font-family: 'Bungee Hairline';
    font-weight: bold;
    font-variant: small-caps;
    font-size: xx-large;
    text-shadow: 0px 0px 20px #200d1b;
}
.NavBar .Navigation a:hover{
    box-shadow: inset 0px -5px 25px 5px #200d1b, 0 5px 25px 5px #200d1b;
    text-shadow: 0px 0px 20px #ce54ad;
  }

.NavBar .Navigation p{
    font-family: 'Righteous';
    font-weight: 100;
    transform: scale(1.1, 1.2);
}

.NavBar .MobileNavigation {
    background: #000;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 10%;
    position: fixed;
    display: none;
}
.NavBar .MobileNavigation > .MobileNavigation-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 10%;
    text-decoration: none;
    height: 100%;
}

.NavBar .MobileNavigation ul li {
    display: inline-block;
    height: 100%;
  }
  
.NavBar .MobileNavigation ul li a{
    display: flex;
    background-color: #000;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    text-decoration: none;
    height: 100%;
    font-family: 'Bungee Hairline';
    font-weight: bold;
    font-variant: small-caps;
    font-size: xx-large;
    text-shadow: 0px 0px 20px #200d1b;
  }

.NavBar .MobileNavigation a:hover{
    box-shadow: inset 0px -5px 25px 5px #200d1b, 0 5px 25px 5px #200d1b;
    text-shadow: 0px 0px 20px #ce54ad;
}
  
.NavBar .MobileNavigation p{
    font-family: 'Righteous';
    font-weight: 100;
    transform: scale(1.1, 1.2);
}

.gg-terminal{
    color:white;
    transform: scale(3);
    box-shadow: inset 0px -5px 25px 15px #200d1b, 0 0px 5px 2px #200d1b;
}

.gg-menu{
    color:white;
    transform: scale(3);
}

@media (max-width: 1080px){
    .NavBar .Navigation {
        display: none;
    }

    .NavBar .MobileNavigation{
        display: flex;
        align-items: center;
    }

    .NavBar .MobileNavigation .MobileNavigation-icon{
        position: absolute;
        right: 5%;
        cursor: pointer;
    }

    .NavBar nav ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        width: 30%;
    }
}