.slider {
    width: 1240px;
    height: 640px;
    margin: 0 auto;
}

.slide {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    transition: 0.5s;
    overflow: hidden;
}
#dark .slide{
    background: rgb(24, 9, 20);
}
#light .slide{
    background: rgb(199, 196, 179);
}
.slide span {
    position: absolute;
    display: block;
}

.slide span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    animation: animate1 16s linear infinite;
}
#light .slide span:nth-child(1){
    background: linear-gradient(90deg, transparent 0%, rgb(206, 160, 145) 33%, rgb(194, 129, 109) 66%, rgb(155, 92, 72) 100%);
}
#dark .slide span:nth-child(1){
    background: linear-gradient(90deg, transparent 0%, #38172f 33%, #461d3b 66%, #ce54ae 100%);
}
@keyframes animate1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.slide span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 5px;
    height: 100%;
    animation: animate2 16s linear 4s infinite;
}
#light .slide span:nth-child(2){
    background: linear-gradient(180deg, transparent 0%, rgb(206, 160, 145) 33%, rgb(194, 129, 109) 66%, rgb(155, 92, 72) 100%);
}
#dark .slide span:nth-child(2) {
    background: linear-gradient(180deg, transparent 0%, #38172f 33%, #461d3b 66%, #ce54ad 100%);
}
@keyframes animate2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.slide span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 5px;
    animation: animate3 16s linear 8s infinite;
}
#light .slide span:nth-child(3){
    background: linear-gradient(270deg, transparent 0% ,rgb(206, 160, 145) 33%, rgb(194, 129, 109) 66%, rgb(155, 92, 72) 100%);
}
#dark .slide span:nth-child(3) {
    background: linear-gradient(270deg, transparent 0%,#38172f 33%, #461d3b 66%, #ce54ad 100%);
}
@keyframes animate3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.slide span:nth-child(4) {
    bottom: 50%;
    left: 0;
    width: 5px;
    height: 100%;
    animation: animate4 16s linear 12s infinite,
    animate45 12s linear
}
#light .slide span:nth-child(4){
    background: linear-gradient(360deg, transparent 0% , rgb(206, 160, 145) 33%, rgb(194, 129, 109) 66%, rgb(155, 92, 72) 100%);
}
#dark .slide span:nth-child(4) {
    background: linear-gradient(360deg, transparent 0%, #38172f 33%,#461d3b 66%, #ce54ad 100%);
}
@keyframes animate45 {
    0% {
        bottom: 0%;
    }

    
    50%,
    100%{
        bottom: 150%;
    }
}
@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.sliderContainer {
    height: 100%;
    position: relative;
}

.leftArrow {
    font-family: 'Righteous';
    font-weight: 100;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%) scale(1.1, 1.2);
    left: 16px;
    font-size: 60px;
    color: white;
    z-index: 1;
    cursor: pointer;
}

.rightArrow {
    font-family: 'Righteous';
    font-weight: 100;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%) scale(1.1, 1.2);
    right: 16px;
    font-size: 60px;
    color: white;
    z-index: 1;
    cursor: pointer;
}

.dotsContainer {
    display: flex;
    justify-content: center;
}

.dots {
    margin: 0 3px;
    cursor: pointer;
    font-size: 40px;
    color: white;
}